@import "partials/var";





/* PADDING ZA CELU STRANICU */
header, #hero, #about-container, #projects, #contact, footer {
    padding: 0px $page-padding;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
    color: $lightest-color;
    font-size: 2.6rem;
}

/* HEADER */
header {
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo a {
        font-size: 1.7rem;
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 30px;
            li {
                transition: all 0.6s;

                &:hover {
                    transform: translateY(3px);
                }
                a {
                    font-size: 1.3rem;
                }
            }
        }
    }
}


/* HERO */
#hero {
    position: relative;
    height: 85vh;
    background-image: url(../imgs/bg-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #191a1946;
    }
    #hero-content{
        display: flex;
        flex-direction: column;
        gap: 10px;
        color: white;
        z-index: 1;
        h1 {
            font-size: 3rem;
        }
        .button {
            margin-top: 20px;
            width: 100px;
            padding: 10px 14px;
            background-color: $lightest-color;
            text-align: center;
            border-radius: 4px;
            font-size: 1.1rem;
            font-weight: 500;
            transition: all 0.5s;
            &:hover {
                background-color: $darkest-contrast;
            }
        }
        #hero-titles {
            h4 {
                font-size: 1.3rem;
                font-weight: 300;
            }
        }
    }
}


/* ABOUT */

#about {
    margin: 80px 0;
    #about-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        #about-text {
            width: 60%;
            text-align: left;
            font-size: 1.3rem;
            color: white;
        }
        #about-pics {
            width: 35%;
            display: grid;
            justify-content: flex-end;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 80px);
            gap: 20px;
            img {
                align-self: center;
                justify-self: center;
                width: 80px;
            }
        }
    }
}

/* PROJECTS */

#projects {
    display: grid;
    article {
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: center;
        margin-bottom: 95px;
        height: 300px;
        gap: 22px;
        padding: 0 2.5%;
        background-color: $darkest-contrast;
        width: 78%;
        border-radius: 8px;
        h3 {
            color: $darkest-color;
            font-size: 2rem;
        }
        p {
            font-size: 1.5rem;
            width: 70%;
            color: white;
        }
        .project-img {
            position: absolute;
            img {
                width: 500px;
                border-radius: 8px;
            }
        }
        .front {
            top: -3%;
            right: -20%;
        }
    }
    .article-back {
        width: 60%;
        justify-self: flex-end;
        p {
            width: 90%;
        }
        .back {
            top: -3%;
            left: -54%;
            z-index: -1;
        }
    }
}

/* CONTACT */

#contact-container, .contact-link {
    display: flex;
    align-items: center;
    gap: 70px;
    color: white;
    font-size: 1.3rem;
}

.contact-link {
    margin-bottom: 10px;
    gap: 16px;
    width: 100%;
}

.contact-link img {
    width: 50px;
    transition: all 0.5s;
}

.contact-link:hover {
    cursor: pointer;
}

.contact-link:hover img{
    transform: scale(1.1);
}

#contact-text, #contact-links {
    width: 47%;
}

/* FOOTER */

footer {
    position: relative;
    margin-top: 90px;
    height: 7vh;
    background-color: $lightest-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
}

#to-top {
    background-color:$grey-color;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    position: absolute;
    bottom: 90px;
    right: $page-padding;
    display: flex;
    align-items: center;
    justify-content: center;
}

#to-top img {
    width: 24px;
}
