@font-face {
  font-family: main;
  src: url(../fonts/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  font-family: main;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #191A19;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

img {
  width: 64px;
}

/* PADDING ZA CELU STRANICU */
header, #hero, #about-container, #me-container, #projects, #contact, #form, footer {
  padding: 0px 9%;
}
@media (max-width: 726px) {
  header, #hero, #about-container, #me-container, #projects, #contact, #form, footer {
    padding: 0 5%;
  }
}

.section-title {
  text-align: center;
  margin-bottom: 50px;
  color: #4E9F3D;
  font-size: 2.6rem;
}

/* HEADER */
header {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header #logo a {
  font-size: 1.7rem;
}
@media (max-width: 726px) {
  header #logo a {
    font-size: 1.05rem;
  }
}
header #logo img {
  width: 50px;
}
@media (max-width: 1024px) {
  header #logo img {
    width: 70px;
  }
}
@media (max-width: 726px) {
  header #logo img {
    width: 45px;
  }
}
header nav ul {
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 726px) {
  header nav ul {
    gap: 10px;
  }
}
header nav ul li {
  transition: all 0.6s;
}
header nav ul li:hover {
  transform: translateY(3px);
}
header nav ul li a {
  font-size: 1.3rem;
}
@media (max-width: 726px) {
  header nav ul li a {
    font-size: 1rem;
  }
}
@media (max-width: 281px) {
  header nav ul li a {
    font-size: 0.8rem;
  }
}

/* HERO */
#hero {
  position: relative;
  height: 85vh;
  background-color: #0f0f0f;
  background-image: url(../imgs/vecto.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
@media (max-width: 1024px) {
  #hero {
    height: 90vh;
    justify-content: center;
    background-position: bottom right;
    background-image: url(../imgs/vecto-tab.png);
  }
}
#hero::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 26, 25, 0.2745098039);
}
@media (max-width: 1024px) {
  #hero::before {
    background-color: rgba(15, 15, 15, 0.7450980392);
  }
}
#hero #hero-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  z-index: 1;
}
@media (max-width: 1024px) {
  #hero #hero-content {
    background: rgba(15, 15, 15, 0.25);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    padding: 40px;
  }
}
@media (max-width: 726px) {
  #hero #hero-content {
    box-shadow: none;
    backdrop-filter: none;
    -webkit-backdrop-filter: none;
  }
}
@media (max-width: 281px) {
  #hero #hero-content {
    padding: 0;
  }
}
#hero #hero-content h1 {
  font-size: 3rem;
}
@media (max-width: 1024px) {
  #hero #hero-content h1 {
    font-size: 3.3rem;
  }
}
@media (max-width: 726px) {
  #hero #hero-content h1 {
    font-size: 3rem;
  }
}
@media (max-width: 281px) {
  #hero #hero-content h1 {
    font-size: 2.3rem;
  }
}
#hero #hero-content .button {
  margin-top: 20px;
  width: 100px;
  padding: 10px 14px;
  background-color: #4E9F3D;
  text-align: center;
  border-radius: 4px;
  font-size: 1.1rem;
  font-weight: 500;
  transition: all 0.5s;
}
@media (max-width: 1024px) {
  #hero #hero-content .button {
    font-size: 1.9rem;
    width: 160px;
    padding: 16px 20px;
  }
}
@media (max-width: 726px) {
  #hero #hero-content .button {
    width: 120px;
    font-size: 1.2rem;
    padding: 12px 16px;
  }
}
#hero #hero-content .button:hover {
  background-color: #1E5128;
}
#hero #hero-content #hero-titles h4 {
  font-size: 1.3rem;
  font-weight: 300;
}
@media (max-width: 1024px) {
  #hero #hero-content #hero-titles h4 {
    font-size: 1.5rem;
  }
}

/* ABOUT */
#about {
  margin: 80px 0;
}
#about #about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  #about #about-container {
    flex-direction: column;
    gap: 40px;
  }
}
#about #about-container #about-text {
  width: 60%;
  text-align: left;
  font-size: 1.3rem;
  color: white;
}
@media (max-width: 1024px) {
  #about #about-container #about-text {
    text-align: justify;
    width: 100%;
  }
}
#about #about-container #about-pics {
  width: 35%;
  display: grid;
  justify-content: flex-end;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 80px);
  gap: 20px;
}
@media (max-width: 1024px) {
  #about #about-container #about-pics {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 120px);
    width: 70%;
  }
}
@media (max-width: 726px) {
  #about #about-container #about-pics {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 90%;
    justify-content: center;
  }
}
#about #about-container #about-pics .grow {
  transform: scale(1.2);
  filter: drop-shadow(1.5px 0px 3px rgba(255, 255, 255, 0.8588235294));
}
#about #about-container #about-pics img {
  align-self: center;
  justify-self: center;
  width: 80px;
  transition: all 0.5s;
}
@media (max-width: 1024px) {
  #about #about-container #about-pics img {
    width: 120px;
  }
}
@media (max-width: 726px) {
  #about #about-container #about-pics img {
    width: 90px;
  }
}
@media (max-width: 281px) {
  #about #about-container #about-pics img {
    width: 75px;
  }
}

#me-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
@media (max-width: 726px) {
  #me-container {
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  #me-container {
    flex-direction: column;
  }
}
#me-container #me-pic {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 726px) {
  #me-container #me-pic {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  #me-container #me-pic {
    width: 100%;
  }
}
#me-container #me-pic img {
  width: 90%;
  border-radius: 16px;
  border: #4E9F3D 2.5px solid;
}
@media (max-width: 726px) {
  #me-container #me-pic img {
    width: 70%;
    margin-bottom: 45px;
  }
}
@media (max-width: 1024px) {
  #me-container #me-pic img {
    width: 70%;
    margin-bottom: 45px;
  }
}
#me-container #me-text {
  width: 57%;
  color: #fff;
  font-size: 1.65rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 726px) {
  #me-container #me-text {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 1024px) {
  #me-container #me-text {
    width: 100%;
    text-align: justify;
  }
}

#logo-bar {
  margin: 0 auto;
  width: 80%;
  background-color: rgba(10, 10, 10, 0.662745098);
  border: 2px solid #4E9F3D;
  border-right: none;
  border-left: none;
  border-radius: 18px;
  padding: 15px 0;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
}
@media (max-width: 726px) {
  #logo-bar {
    width: 90%;
  }
}
#logo-bar div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#logo-bar div img {
  width: 200px;
  animation: looping 5s infinite linear;
  margin: 0 50px;
}
@media (max-width: 726px) {
  #logo-bar div img {
    width: 100px;
    margin: 0 20px;
  }
}

#logo-bar::before,
#logo-bar::after {
  content: "";
  position: absolute;
  top: 0;
  width: 180px;
  height: 200px;
  z-index: 2;
}
@media (max-width: 726px) {
  #logo-bar::before,
  #logo-bar::after {
    width: 90px;
  }
}

#logo-bar::before {
  background: linear-gradient(266deg, rgba(10, 10, 10, 0) 0%, rgb(8, 9, 8) 95%);
}

#logo-bar::after {
  right: 0;
  background: linear-gradient(100deg, rgba(10, 10, 10, 0) 0%, rgb(8, 9, 8) 95%);
}

@keyframes looping {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-300%);
  }
}
@media (max-width: 726px) {
  @keyframes looping {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-280%);
    }
  }
}
/* PROJECTS */
#projects {
  display: grid;
}
@media (max-width: 726px) {
  #projects a {
    display: flex;
    justify-content: center;
  }
}
#projects a article {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  margin-bottom: 95px;
  height: 300px;
  gap: 22px;
  padding: 0 2.5%;
  background-color: #1E5128;
  width: 78%;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  #projects a article {
    justify-content: flex-start;
    margin-bottom: 200px;
  }
}
@media (max-width: 726px) {
  #projects a article {
    justify-self: center;
    margin-bottom: 300px;
  }
}
@media (max-width: 657px) {
  #projects a article {
    margin-bottom: 250px;
  }
}
#projects a article h3 {
  color: #191A19;
  font-size: 2rem;
}
@media (max-width: 1024px) {
  #projects a article h3 {
    margin-top: 20px;
  }
}
@media (max-width: 726px) {
  #projects a article h3 {
    text-align: center;
    font-size: 1.4rem;
  }
}
#projects a article p {
  font-size: 1.5rem;
  width: 70%;
  color: white;
}
@media (max-width: 1410px) {
  #projects a article p {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  #projects a article p {
    width: 100%;
  }
}
@media (max-width: 726px) {
  #projects a article p {
    font-size: 1.1rem;
    text-align: center;
  }
}
@media (max-width: 281px) {
  #projects a article p {
    font-size: 0.95rem;
  }
}
#projects a article .project-img {
  position: absolute;
  top: -3%;
  right: -20%;
}
@media (max-width: 1024px) {
  #projects a article .project-img {
    top: 250px;
    left: 60%;
  }
}
@media (max-width: 726px) {
  #projects a article .project-img {
    width: 100%;
    left: 7.5%;
  }
}
#projects a article .project-img img {
  width: 500px;
  border-radius: 8px;
}
@media (max-width: 1024px) {
  #projects a article .project-img img {
    width: 350px;
  }
}
@media (max-width: 726px) {
  #projects a article .project-img img {
    width: 85%;
  }
}

/* CONTACT */
#contact-container {
  align-items: center;
  gap: 70px;
  color: white;
  font-size: 1.3rem;
}
@media (max-width: 726px) {
  #contact-container {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 726px) {
  #contact-container #contact-text, #contact-container #contact-links {
    text-align: center;
    width: 100%;
  }
}
#contact-container #contact-text {
  text-align: center;
}
#contact-container #contact-links {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
@media (max-width: 1024px) {
  #contact-container #contact-links {
    justify-content: space-between;
  }
}
#contact-container #contact-links .contact-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 70px;
  color: white;
  font-size: 1.3rem;
  margin-bottom: 10px;
  gap: 16px;
  width: 30%;
}
@media (max-width: 726px) {
  #contact-container #contact-links .contact-link {
    flex-direction: column;
  }
}
#contact-container #contact-links .contact-link:hover {
  cursor: pointer;
}
#contact-container #contact-links .contact-link img {
  width: 50px;
  transition: all 0.5s;
}
#contact-container #contact-links .contact-link img:hover {
  transform: scale(1.15);
}

#form {
  margin: 50px 0;
}
#form form {
  padding: 3%;
  margin: 0 auto;
  width: 65%;
  color: #fff;
  background-color: rgba(253, 253, 253, 0.0784313725);
  border: #4E9F3D solid 3px;
  border-radius: 12px;
  font-size: 1.3rem;
}
@media (max-width: 1024px) {
  #form form {
    width: 80%;
  }
}
@media (max-width: 726px) {
  #form form {
    padding: 5%;
    width: 80%;
  }
}
#form form #top-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}
@media (max-width: 726px) {
  #form form #top-form {
    flex-direction: column;
  }
}
#form form #top-form #left-form, #form form #top-form #right-form {
  width: 47%;
}
@media (max-width: 726px) {
  #form form #top-form #left-form, #form form #top-form #right-form {
    width: 100%;
  }
}
#form form .part {
  display: flex;
  flex-direction: column;
}
#form form input, #form form textarea {
  margin: 6px 0;
  border-radius: 8px;
  border: none;
  background-color: rgba(255, 255, 255, 0.7725490196);
  border: rgba(255, 255, 255, 0) solid 3.5px;
  height: 40px;
  transition: all 0.75s;
  outline: none;
}
#form form input:focus, #form form textarea:focus {
  border: #4E9F3D solid 3.5px;
}
#form form #proposal {
  height: 150px;
  resize: none;
}
#form form #btns {
  display: flex;
  justify-content: space-between;
}
#form form .btn {
  margin: 45px 10px 0 0;
  width: 22%;
  background-color: #4E9F3D;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 8px 18px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 726px) {
  #form form .btn {
    width: 45%;
    margin: 45px 0px 0 0;
  }
}

/* FOOTER */
footer {
  position: relative;
  margin-top: 90px;
  height: 12vh;
  background-color: #4E9F3D;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700;
}
footer #to-top {
  background-color: #414341;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: absolute;
  bottom: 15vh;
  right: 9%;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer #to-top img {
  width: 24px;
}
footer img {
  width: 36px;
}
footer p {
  margin-top: 10px;
}
@media (max-width: 281px) {
  footer p {
    font-size: 0.7rem;
  }
}
footer #social {
  margin-bottom: 10px;
}/*# sourceMappingURL=style.css.map */