/* ABOUT */

#about {
    margin: 80px 0;
    #about-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        @include tablet {
            flex-direction: column;
            gap: 40px;
        }
        
        #about-text {
            width: 60%;
            text-align: left;
            font-size: 1.3rem;
            color: white;
            
            @include tablet {
                text-align: justify;
                width: 100%;
            }
        }
        #about-pics {
            width: 35%;
            display: grid;
            justify-content: flex-end;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 80px);
            gap: 20px;
            
            @include tablet {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 120px);
                width: 70%;
            }
            @include phone {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(3, 1fr);
                width: 90%;
                justify-content: center;
            }
            .grow {
                transform: scale(1.2);
                filter: drop-shadow(1.5px 0px 3px #ffffffdb);
            }
            img {
                align-self: center;
                justify-self: center;
                width: 80px;
                transition: all 0.5s;
                
            @include tablet {
                width: 120px;
            }

            @include phone {
                width: 90px;
            }
            @include fold {
                width: 75px;
            }
            }
        }
    }
}