/* CONTACT */

#contact-container {
    display: flex;
    align-items: center;
    gap: 70px;
    color: white;
    font-size: 1.3rem;
    #contact-text, #contact-links {
        width: 47%;
    }
    #contact-links {
            .contact-link {
            display: flex;
            align-items: center;
            gap: 70px;
            color: white;
            font-size: 1.3rem;
            margin-bottom: 10px;
            gap: 16px;
            width: 100%;
            &:hover {
                cursor: pointer;
            }
            img {
                width: 50px;
                transition: all 0.5s;
                &:hover {
                    transform: scale(1.15);
                }
            }
        } 
    }
}