/* CONTACT */

#contact-container {
    // display: flex;
    align-items: center;
    gap: 70px;
    color: white;
    font-size: 1.3rem;
    @include phone {
        flex-direction: column;
        gap: 20px;
    }
    #contact-text, #contact-links {
        // width: 47%;
        @include phone {
            text-align: center;
            width: 100%;
        }
    }
    #contact-text {
        text-align: center;
    }
    #contact-links {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        @include tablet {
            justify-content: space-between;
        }
            .contact-link {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 70px;
            color: white;
            font-size: 1.3rem;
            margin-bottom: 10px;
            gap: 16px;
            width: 30%;
            @include phone {
                flex-direction: column;
                
            }
            &:hover {
                cursor: pointer;
            }
            img {
                width: 50px;
                transition: all 0.5s;
                &:hover {
                    transform: scale(1.15);
                }
            }
        } 
    }
}