
/* FOOTER */

footer {
    position: relative;
    margin-top: 90px;
    height: 12vh;
    background-color: $lightest-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    #to-top {
            background-color:$grey-color;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: absolute;
            bottom: 15vh;
            right: $page-padding;
            display: flex;
            align-items: center;
            justify-content: center;
            img {
                width: 24px;
            }
    }
    img {
        width: 36px;
    }
    p {
        margin-top: 10px;
    }
    #social {
        margin-bottom: 10px;
    }
}