
/* FOOTER */

footer {
    position: relative;
    margin-top: 90px;
    height: 7vh;
    background-color: $lightest-color;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 700;
    #to-top {
            background-color:$grey-color;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            position: absolute;
            bottom: 90px;
            right: $page-padding;
            display: flex;
            align-items: center;
            justify-content: center;
            @include tablet {
                bottom: 110px;
                right: 46.5%;
            }
            @include phone {
                bottom: 90px;
                right: 43%;
            }
            img {
                width: 24px;
            }
    }
}