
/* HEADER */
header {
    height: 8vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    #logo a {
        font-size: 1.7rem;
        @include phone {
            font-size: 1.05rem;
        }
    }
    #logo img {
        width: 50px;
        @include tablet {
            width: 70px;
        }
        @include phone {
            width: 45px;
        }
    }
    nav {
        ul {
            display: flex;
            align-items: center;
            gap: 30px;
            @include phone {
                gap: 10px;
            }
            li {
                transition: all 0.6s;

                &:hover {
                    transform: translateY(3px);
                }
                a {
                    font-size: 1.3rem;
                    @include phone {
                        font-size: 1rem;
                    }
                    @include fold {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}