#logo-bar {
    margin: 0 auto;
    width: 80%;
    background-color: #0a0a0aa9;
    border: 2px solid $lightest-color;
    border-right: none;
    border-left: none;
    border-radius: 18px;
    padding: 15px 0;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;
    @include phone {
        width: 90%;
    }
    div {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
            width: 200px;
            margin: 0 50px;
            @include phone {
                width: 100px;
                margin: 0 20px;
            }
        }
    }
}
#logo-bar::before,
#logo-bar::after {
    content: "";
    position: absolute;
    top: 0;
    width: 180px;
    height: 200px;
    z-index: 2;
    @include phone {
        width: 90px;
    }
}
#logo-bar::before {
    background: linear-gradient(266deg, rgba(10,10,10,0) 0%, rgba(8,9,8,1) 95%);
}
#logo-bar::after {
    right: 0;
background: linear-gradient(100deg, rgba(10,10,10,0) 0%, rgba(8,9,8,1) 95%);
}
@include phone {
    @keyframes looping {
        0% {
            transform: translateX(0)
        }
        100% {
            transform: translateX(-280%)
        }
    }
}
.scroller .scroller__inner {
    animation: scroll 12s linear infinite;
  }

  
@keyframes scroll {
    to {
      transform: translate(calc(-50% - 0.5rem));
    }
  }