/* PROJECTS */

#projects {
    display: grid;
    a{
        @include phone {
            display: flex;
            justify-content: center;
        }
        article {
            display: flex;
            flex-direction: column;
            position: relative;
            justify-content: center;
            margin-bottom: 95px;
            height: 300px;
            gap: 22px;
            padding: 0 2.5%;
            background-color: $darkest-contrast;
            width: 78%;
            border-radius: 8px;
            @include tablet {
                justify-content: flex-start;
                margin-bottom: 200px;
            }
            @include phone {
                justify-self: center;
                margin-bottom: 300px;
            }
            @include smaller {
                margin-bottom: 250px;
            }
            h3 {
                color: $darkest-color;
                font-size: 2rem;
                @include tablet {
                    margin-top: 20px;
                }
                @include phone {
                    text-align: center;
                    font-size: 1.4rem;
                }
            }
            p {
                font-size: 1.5rem;
                width: 70%;
                color: white;
                @include tablet {
                    width: 100%;
                }
                @include phone {
                    font-size: 1.1rem;
                    text-align: center;
                }
            }
            .project-img {
                position: absolute;
                top: -3%;
                right: -20%;
                @include tablet {
                    top: 250px;
                    left: 60%;
                }
                @include phone {
                    width: 100%;
                    left: 7.5%;
                }
                img {
                    width: 500px;
                    border-radius: 8px;
                    @include tablet {
                        width: 350px;
                    }
                    @include phone {
                        width: 85%;
                    }
                }
            }
        }
    }
}